/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

form button {
    margin-right: 10px;
    width:150px;
    font-size: 20px;
}
mat-form-field {
    display: block !important;
}

.alert {
    margin-top:10px;
}